### Symfony ###
/var/
/vendor/
/public/bundles/
/node_modules/
/build/
/config/secrets/*/vault.yaml
.phpunit.result.cache
.symfony
.idea/

### macOS ###
.DS_Store

### PhpStorm ###
*.iml
*.iws
*.ipr

### Composer ###
composer.lock

### Logs ###
/logs/
/var/log/

### Cache ###
/var/cache/
/var/tmp/

### PHPUnit ###
/phpunit.xml
/phpunit.xml.dist
/test_output/

### Coverage reports ###
/coverage/

### Misc ###
/*.log
*.swp
*.bak
*.tmp


###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
